*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("https://i.pinimg.com/474x/50/b8/fd/50b8fd3bb87eed2b865ea7a189cae40c.jpg") no-repeat center center fixed;
    background-size:cover;
    padding:20px;
}

.container{
    width:100%;
    max-width:420px;
}

.login-box{
    background:rgba(252, 149, 205, 0.75);
    border:1px solid rgba(255, 255, 255, 0.9);
    border-radius:24px;
    padding:40px 35px;
    backdrop-filter:blur(16px);
    box-shadow:0 20px 50px rgb(248, 248, 248);
}

.logo{
    text-align:center;
    margin-bottom:35px;
}

.logo img{
    width:260px;
    margin-bottom:10px;
}

.logo h2{
    color:#fc0262;
    font-size:28px;
    font-weight:700;
    letter-spacing:3px;
}

.input-box,
.amount-box{
    position: relative;
    margin-bottom: 20px;
}

.input-box input,
.amount-box input{
    width:100%;
    height:58px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#000;
    color:#ffffff;
    font-size:16px;
    padding-left:55px;
    padding-right:20px;
}

.input-box input::placeholder,
.amount-box input::placeholder{
    color:#ffffff;
}

.input-box i{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    color:#ffffff;
    font-size:19px;
}

.currency{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    color:#ffffff;
    font-size:20px;
    font-weight:700;
    z-index:2;
}

.eye{
    position:absolute;
    right:18px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#e426b4;
    font-size:18px;
    z-index:10;
    transition:.3s;
}

.eye:hover{
    color:#ff2492;
}

/* Hide Number Spinner */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}

input[type=number]{
    appearance:textfield;
    -moz-appearance:textfield;
}

.error{
    color:#ff2b2b;
    font-size:18px;
    font-weight:600;
    margin-top:-8px;
    margin-bottom:18px;
}

.login-btn{
    width:100%;
    height:58px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#df08b0,#cf06a4);
    color:#000;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 12px 30px rgb(218, 218, 218);
}

.register{
    margin-top:25px;
    text-align:center;
    color:#000;
    font-size:15px;
}

.register a{
    color:#ee1aae;
    text-decoration:none;
    font-weight:600;
}

@media(max-width:480px){

    .login-box{
        padding:30px 25px;
    }

    .logo img{
        width:200px;
    }

}
